---
# tasks file for loki-driver
- name: check if loki has been installed
  shell: docker plugin ls | grep -n "loki"
  register: loki_plugin_installed
  changed_when: no
  ignore_errors: True

- name: install loki docker driver
  shell: >
    docker plugin install grafana/loki-docker-driver:{{ loki_version }} 
    --alias loki
    --grant-all-permissions
  retries: 5
  delay: 10
  when:
    - loki_plugin_installed.rc != 0

- name: change Docker default logging driver
  template:
    src: daemon.json
    dest: /etc/docker/
    mode: '0600'
    backup: yes
  notify: restart docker
