[Unit]
Description={{service_name}} service
After=network-online.target
Requires=local-fs.target
After=local-fs.target

[Service]
Type=simple
User=loki
Group=loki
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{install_dir}}/bin/loki-linux-amd64 -config.file={{install_dir}}/etc/loki-config.yml

[Install]
WantedBy=multi-user.target