---
# tasks file for common
- name: set timezone to "{{ timezone }}"
  timezone:
    name: "{{ timezone }}"

- name: update /etc/hosts
  lineinfile:
    dest: /etc/hosts
    regexp: '.*{{item}}$'
    line: "{{item}}"
    state: present
  with_items: "{{etc_hosts}}"  

- name: install necessary packages
  apt:
    pkg:
      - net-tools
      - unzip
      - vim
      - git
      - curl
    state: present